@import "suitcss";
@import "css/styles.scss";

/* Breakpoints */

@custom-media --sm-viewport (min-width: 320px) and (max-width: 640px);
@custom-media --md-viewport (min-width: 640px) and (max-width: 960px);
@custom-media --lg-viewport (min-width: 960px);

/* :root vars */

:root {
  --Site-font-size: 1em;
  --Site-font-family: Helvetica;
  --Site-line-height: 1.4;
}
